<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the test page!</h1>
    
        <% if (num == 0) { %>
           <h1>Num equals 0</h1>
        <% }else { %>
         <h1>num isn't 0</h1>
         <% } %> 
         
        <% names.forEach(name => { %>

            <h2><%=name  %>  </h2>
      <%  })  %> 

      <%=data  %> 

        <% data.forEach(el =>{ %>
            <h1><%= el.state %>  </h1> 
            <h2><%= el.cases %> </h2>
        <% }) %> 


        <h1><%=obj.firstName %> <%=obj.lastName  %>  </h1>
    

    <p>This is my test for the index.ejs file!</p>
</body>
</html>